# Virtual Environments
env_complet/
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo

# Data and Logs
database/
db_test/
tmp_csvs/
tmp_replays/
data/
*.parquet
*.json
!_rapport_extraction.json
!suspects_ballcam.json

# Replays
replay/
source/
*.replay

# Exploratory / Junk
Best_strat_extract/
strat1/
frontend/
RL_Bot_detector_space/

# IDEs
.vscode/
.idea/
.DS_Store
*.code-workspace
.data/
